[buildout]
extends =
    https://raw.githubusercontent.com/zopefoundation/Zope/master/versions.cfg
develop = .
parts = 
    interpreter 
    test

[versions]
Products.BTreeFolder2 =

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs =
    Products.BTreeFolder2
    tox

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.BTreeFolder2
